.hero {
  height: calc(100vh - 80px);

  padding-bottom: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url('/images/hero-bg-1.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    width: 1160px;
  }

  &-buttons {
    padding: 10px;

    display: flex;
    column-gap: 10px;

    border-radius: 9999px;
    background-color: #fff;

    &__item {
      flex-grow: 1;
      padding-block: 10px;

      font-size: 14px;
      font-weight: 600;
      text-align: center;

      color: #252525;
      border-radius: 9999px;

      transition: background-color 300ms ease-in-out;

      &:hover:not(&_active),
      &:focus-visible:not(&_active) {
        background-color: #fafafa;
      }

      &_active {
        background-color: #daeeff;
      }
    }
  }

  &-body {
    padding: 50px;
    margin-top: 15px;

    display: flex;
    align-items: center;
    column-gap: 60px;

    border-radius: 25px;
    background-color: rgba(210, 234, 254, 0.6);

    &__left {
      flex-grow: 1;
    }

    &__title {
      font-size: 50px;
      font-weight: 600;
      line-height: 1.25;

      > span {
        color: #eb7223;
        font-weight: 500;
      }
    }

    &-benefits {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-top: 60px;

      &-item {
        padding: 15px 30px 15px 30px;

        display: flex;
        align-items: center;
        column-gap: 15px;

        background-color: #fff;
        box-shadow: 0px 0px 15px 5px rgba(124, 174, 255, 0.2);
        border-radius: 25px;

        &__image {
          width: 40px;
          height: 40px;
        }

        &__body {
          display: flex;
          flex-direction: column;
        }

        &__title {
          font-weight: 600;
        }

        &__description {
          font-size: 14px;
          line-height: 1;
        }
      }
    }

    &-buttons {
      display: flex;
      column-gap: 60px;
      margin-top: 45px;

      &__button {
        padding-block: 7.5px;
        font-weight: 600;
      }

      &__link {
        display: flex;
        align-items: center;
        column-gap: 15px;

        > svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    &__image {
      width: 360px;
      height: 360px;
      object-fit: scale-down;
    }
  }
}

.docs_block {
  width: 1160px;

  margin: 0 auto;

  padding: 60px 0;

  .grid-wrapper {
    display: flex;
    gap: 40px;
  }

  &__title {
    color: #000000;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    & span {
      color: #eb7223;
    }
  }

  &__grid {
    width: 100%;
    min-width: 760px;
    max-width: 760px;

    &-item {
      border-radius: 25px;
      background-color: #eaf5ff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;

      width: 100%;

      margin: 30px 0;
      padding: 20px;

      position: relative;

      & img {
        max-width: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
      }

      &-title {
        color: #000000;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 700;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }

      &-description {
        color: #000000;
        font-size: 18px;
        line-height: 1.55;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }

      &-list {
        color: #000000;
        font-size: 15px;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        padding: 30px 0;

        & ul,
        ol {
          padding-left: 20px;
          margin: 0;
        }
      }

      &-actions {
        display: flex;
        gap: 60px;

        & .item__button {
          font-size: 16px;
          font-weight: 700;
          height: 40px;
          padding-inline: 20px;
        }

        & .item-link {
          display: flex;
          align-items: center;
          column-gap: 15px;

          & span {
            width: 14px;
            height: 14px;

            & svg {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }

    &-wrapper {
      display: flex;
      gap: 30px;

      & .docs_block__grid-item {
        margin: 0;
        padding: 20px;

        position: relative;

        &:first-child {
          background-color: #feffd6;
          & img {
            max-width: 60px;
          }
        }

        &:last-child {
          background-color: #eafffd;
        }

        &-title {
          position: relative;

          & strong {
            font-weight: 800;
          }

          & img {
            max-width: 35px;
            position: absolute;
            top: 0px;
            right: 0px;
          }
        }

        &-list {
          padding-bottom: 50px;
        }

        &-actions {
          position: absolute;
          bottom: 20px;
        }
      }
    }

    &_docs-wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(112px, 1fr));
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 20px;
    }

    &-doc-item {
      border-width: 1px;
      border-radius: 20px;
      background-color: #ffffff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      box-shadow: 0px 0px 15px 5px rgba(179, 213, 255, 0.2);

      padding: 20px;

      & img {
        max-width: 112px;
      }

      &_info {
        position: absolute;
        top: -70px;

        border-width: 1px;
        border-radius: 12px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
        padding: 15px 20px;

        transform: translateX(-50%) translateY(0px);
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity 0.3s ease,
          transform 0.3s ease,
          visibility 0.3s;

        & p {
          margin: 0;
          font-weight: 400;
          font-size: 14px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  &__grid-documents {
    margin: 30px 0;
  }
}

.docs_block__grid-doc-item_info.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.docs_block__grid-doc-item {
  position: relative;
  display: inline-block;
}

.tn-atom__pin-icon {
  position: absolute;
  top: -10px;
  left: -10px;
}
