.hero {
  height: calc(100vh - 80px);

  display: flex;
  align-items: center;
  justify-content: center;

  background: url('/images/hero-bg-1.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    width: 1160px;
  }

  &-buttons {
    padding: 10px;

    display: flex;
    column-gap: 10px;

    border-radius: 9999px;
    background-color: #fff;

    &__item {
      flex-grow: 1;
      padding-block: 10px;

      font-size: 14px;
      font-weight: 600;
      text-align: center;

      color: #252525;
      border-radius: 9999px;

      transition: background-color 300ms ease-in-out;

      &:hover:not(&_active),
      &:focus-visible:not(&_active) {
        background-color: #fafafa;
      }

      &_active {
        background-color: #daeeff;
      }
    }
  }

  &-body {
    padding: 50px;
    margin-top: 15px;

    display: flex;
    align-items: center;
    column-gap: 60px;

    border-radius: 25px;
    background-color: rgba(210, 234, 254, 0.6);

    &__left {
      flex-grow: 1;
    }

    &__title {
      font-size: 50px;
      font-weight: 600;
      line-height: 1.25;

      > span {
        color: #eb7223;
        font-weight: 500;
      }
    }

    &-benefits {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-top: 60px;

      &-item {
        padding: 15px 30px 15px 30px;

        display: flex;
        align-items: center;
        column-gap: 15px;

        background-color: #fff;
        box-shadow: 0px 0px 15px 5px rgba(124, 174, 255, 0.2);
        border-radius: 25px;

        &__image {
          width: 40px;
          height: 40px;
        }

        &__body {
          display: flex;
          flex-direction: column;
        }

        &__title {
          font-weight: 600;
        }

        &__description {
          font-size: 14px;
          line-height: 1;
        }
      }
    }

    &-buttons {
      display: flex;
      column-gap: 60px;
      margin-top: 45px;

      &__button {
        padding-block: 7.5px;
        font-weight: 600;
      }

      &__link {
        display: flex;
        align-items: center;
        column-gap: 15px;

        > svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    &__image {
      width: 360px;
      height: 360px;
      object-fit: scale-down;
    }
  }
}
