:root {
  --send-bg: #0b93f6;
  --send-color: white;
  --receive-bg: white;
  --receive-text: black;
  --page-background: #eaf5ff;
}

.block {
  max-width: 1160px;
  margin: 0 auto;
}

.hero-body {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hero-body.active {
  opacity: 1;
}
.hero {
  transition: background-image 0.3s ease-in-out;
}

.hero {
  height: calc(100vh - 80px);

  padding-bottom: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url('/images/hero-bg-1.png');
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  z-index: 20;

  @media (max-width: 1239px) {
    height: unset;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    z-index: -1;
  }

  &__wrapper {
    width: 1160px;

    @media (max-width: 1239px) {
      margin-top: 20px;
      width: 100%;
      padding: 10px 20px;
    }
  }

  &-buttons {
    padding: 10px;

    display: flex;
    column-gap: 10px;

    border-radius: 9999px;
    background-color: #fff;

    @media (max-width: 1239px) {
      flex-direction: column;
      border-radius: 20px;
      padding: 15px 30px;
    }

    &__item {
      flex-grow: 1;
      padding-block: 10px;

      font-size: 14px;
      font-weight: 600;
      text-align: center;

      color: #252525;
      border-radius: 9999px;

      transition: background-color 300ms ease-in-out;

      @media (max-width: 1239px) {
        width: 100%;
        margin: 0 auto;
      }

      &:hover:not(&_active),
      &:focus-visible:not(&_active) {
        background-color: #fafafa;
      }

      &_active {
        background-color: #daeeff;
        @media (max-width: 1239px) {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }

  &-body {
    padding: 50px;
    margin-top: 15px;

    display: none;
    align-items: center;
    column-gap: 60px;

    border-radius: 25px;
    background-color: rgba(210, 234, 254, 0.6);

    position: relative;

    opacity: 0;

    @media (max-width: 1239px) {
      padding: 30px;
    }

    &.active {
      display: flex;
      @media (max-width: 1239px) {
        flex-direction: column-reverse;
      }
    }

    &__left {
      flex-grow: 1;
    }

    &__title {
      font-size: 50px;
      font-weight: 600;
      line-height: 1.25;

      @media (max-width: 1239px) {
        font-size: 20px;
      }

      > span {
        color: #eb7223;
        font-weight: 500;
      }
    }

    &-benefits {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-top: 60px;

      @media (max-width: 1239px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }

      &-item {
        padding: 15px 30px 15px 30px;

        display: flex;
        align-items: center;
        column-gap: 15px;

        background-color: #fff;
        box-shadow: 0px 0px 15px 5px rgba(124, 174, 255, 0.2);
        border-radius: 25px;

        &__image {
          width: 40px;
          height: 40px;
        }

        &__body {
          display: flex;
          flex-direction: column;
        }

        &__title {
          font-weight: 600;
        }

        &__description {
          font-size: 14px;
          line-height: 1;
        }
      }
    }

    &-buttons {
      display: flex;
      column-gap: 60px;
      margin-top: 45px;

      @media (max-width: 1239px) {
        flex-direction: column;
        gap: 20px;
      }

      &__button {
        padding-block: 7.5px;
        font-weight: 600;

        @media (max-width: 1239px) {
          width: 100%;
          text-align: center;

          padding-block: 10.5px;
        }
      }

      &__link {
        display: flex;
        align-items: center;
        column-gap: 15px;

        @media (max-width: 1239px) {
          justify-content: center;
        }

        > svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    &__image {
      width: 360px;
      height: 360px;
      object-fit: scale-down;
    }
  }
}

.docs_block {
  padding: 60px 0;

  @media (max-width: 1239px) {
    padding: 0;
  }

  .grid-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1239px) {
      flex-direction: column;
    }
  }

  &__title {
    color: #000000;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    @media (max-width: 1239px) {
      padding: 20px;
    }

    & span {
      color: #eb7223;
    }
  }

  &__grid {
    width: 100%;
    min-width: 760px;
    max-width: 760px;

    @media (max-width: 1239px) {
      min-width: unset;
      max-width: unset;
    }

    &-item {
      border-radius: 25px;
      background-color: #eaf5ff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;

      width: 100%;

      margin: 30px 0;
      padding: 20px;

      position: relative;

      & img {
        max-width: 35px;
        top: 20px;
        right: 20px;

        height: 100%;
        max-height: 35px;
      }

      &-title {
        color: #000000;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 700;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
      }

      &-description {
        color: #000000;
        font-size: 18px;
        line-height: 1.55;
        font-weight: 500;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }

      &-list {
        color: #000000;
        font-size: 15px;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        padding: 30px 0;

        & ul,
        ol {
          padding-left: 20px;
          margin: 0;
        }
      }

      &-actions {
        display: flex;
        gap: 60px;

        & .item__button {
          font-size: 16px;
          font-weight: 700;
          height: 40px;
          padding-inline: 20px;
        }

        & .item-link {
          display: flex;
          align-items: center;
          column-gap: 15px;

          & span {
            width: 14px;
            height: 14px;

            & svg {
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }

    &-wrapper {
      display: flex;
      gap: 30px;

      @media (max-width: 1239px) {
        flex-direction: column;
      }

      & .docs_block__grid-item {
        margin: 0;
        padding: 20px;

        position: relative;

        &:first-child {
          background-color: #feffd6 !important;
          & img {
            max-width: 60px;
          }
        }

        &:last-child {
          background-color: #eafffd !important;
        }

        &-title {
          position: relative;

          & strong {
            font-weight: 800;
          }

          & img {
            max-width: 35px;
            top: 0px;
            right: 0px;
          }
        }

        &-list {
          padding-bottom: 50px;
        }

        &-actions {
          position: absolute;
          bottom: 20px;
        }
      }
    }

    &_docs-wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(112px, 1fr));
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 20px;
    }

    &-doc-item {
      border-width: 1px;
      border-radius: 20px;
      background-color: #ffffff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      box-shadow: 0px 0px 15px 5px rgba(179, 213, 255, 0.2);

      padding: 20px;

      & img {
        max-width: 112px;
      }

      &_info {
        position: absolute;
        top: -70px;

        border-width: 1px;
        border-radius: 12px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
        padding: 15px 20px;

        transform: translateX(-50%) translateY(0px);
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity 0.3s ease,
          transform 0.3s ease,
          visibility 0.3s;

        & p {
          margin: 0;
          font-weight: 400;
          font-size: 14px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  &__grid-documents {
    margin: 30px 0;
  }
}

.block {
  max-width: 1160px;
  margin: 0 auto;
}

.docs_block__grid-doc-item_info.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

@media (max-width: 768px) {
  .docs_block__grid-doc-item:nth-child(odd) {
    .docs_block__grid-doc-item_info.visible {
      transform: translateX(0%) translateY(0px) !important;
      max-width: 172px;
      white-space: wrap;
      word-break: normal;
    }
  }

  .docs_block__grid-doc-item:nth-child(even) {
    .docs_block__grid-doc-item_info.visible {
      transform: translateX(0%) translateY(0px) !important;
      max-width: 172px;
      white-space: wrap;
      word-break: normal;
    }
  }
}

.docs_block__grid-doc-item {
  position: relative;
  display: flex;
  justify-content: center;
}

.tn-atom__pin-icon {
  position: absolute;
  top: -10px;
  left: -10px;
}

.certification-block {
  padding: 60px 0;
  background-color: #eaf5ff;

  @media (max-width: 1239px) {
    padding: 20px;
  }

  .block {
    max-width: 1160px;
    margin: 0 auto;
  }

  &__title {
    color: #000000;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    & span {
      color: #eb7223;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 60px;

    @media (max-width: 1239px) {
      flex-direction: column;
    }

    &_picture {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 25px;

        @media (max-width: 1239px) {
          display: none;
        }
      }
    }

    &_grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(260px, 1fr));
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 30px;

      @media (max-width: 1239px) {
        grid-template-columns: repeat(1, minmax(100%, 1fr));
        grid-row-gap: 15px;
      }

      &_item {
        border-width: 1px;
        border-radius: 25px;
        background-color: #ffffff;
        background-position: center center;
        border-color: #bbd9ff;
        border-style: solid;
        box-shadow: 0px 0px 15px 5px rgba(179, 213, 255, 0.2);

        max-width: 260px;
        min-height: 180px;
        max-height: 180px;

        position: relative;

        padding: 15px;

        @media (max-width: 1239px) {
          max-width: 100%;
        }

        &-title {
          color: black;
          font-size: 16px;
          line-height: 1;
          font-weight: 600;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
          margin-bottom: 7px;
        }

        &-content {
          width: 100%;

          &-sentences {
            color: black;
            font-size: 14px;
            line-height: 1.15;
            font-weight: 300;
            background-position: center center;
            border-color: transparent;
          }

          &-bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            position: absolute;
            bottom: 15px;
            left: 15px;

            min-width: 228px;

            @media (max-width: 768px) {
              min-width: 90%;
            }

            &__picture {
              max-width: 110px;
            }

            &__link {
              border-radius: 50%;
              background-color: #bbd9ff;
              background-position: center center;
              border-color: transparent;
              border-style: solid;
              padding: 12px;

              position: relative;

              & svg {
                position: absolute;
                transform: translate(-50%, -50%);
                width: 100%;
                max-width: 7px;
              }
            }
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          border-width: 1px;
          border-radius: 25px;
          background-color: #378ffd;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
          box-shadow: 0px 0px 15px 5px rgba(179, 213, 255, 0.2);

          .certification-block__wrapper_grid_item-title {
            color: white;
          }

          .certification-block__wrapper_grid_item-content-sentences {
            color: white;
          }

          .certification-block__wrapper_grid_item-content-bottom__link {
            background-color: #ffffff;
          }
        }

        &:nth-child(2) .certification-block__wrapper_grid_item-content-bottom__picture,
        &:nth-child(4) .certification-block__wrapper_grid_item-content-bottom__picture {
          position: absolute;
          bottom: -10px;
          right: 0;
        }

        &:nth-child(6) .certification-block__wrapper_grid_item-content-bottom__picture {
          position: absolute;
          right: 0;
          max-width: 89px;
        }
      }
    }
  }
}

.reviews-section {
  padding: 90px 0;

  @media (max-width: 1239px) {
    padding: 20px;
  }

  &__title {
    color: #000000;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 800;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    margin-bottom: 40px;

    & span {
      color: #fe771d;
      font-size: 26px;
      line-height: 1.55;
      font-weight: 500;
    }
  }

  .reviews-grid {
    display: flex;
    gap: 2rem;

    @media (max-width: 1239px) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .div1,
  .div2,
  .div3 {
    display: flex;
    flex-direction: column;
  }

  .div1,
  .div3 {
    gap: 30px;
  }

  .div1 .reviews-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div2 .reviews-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div3.reviews-card:last-child {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reviews-card {
    background-color: #eaf5ff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    max-width: 360px;

    display: flex;
    gap: 10px;

    @media (max-width: 1239px) {
      max-width: 100%;
    }

    &:before {
      left: -7px;
      width: 20px;
      background-color: var(--receive-bg);
      border-bottom-right-radius: 16px 14px;
    }

    &:after {
      left: -26px;
      width: 26px;
      background-color: var(--page-background);
      border-bottom-right-radius: 10px;
    }

    &--form {
      background-color: #0088ff;
      color: #fff;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }

    &__text {
      color: #4a5568;
      margin: unset;
      background-color: white;
      padding: 10px;
      border-radius: 14px;
      font-size: 15px;

      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 25px;
      }
    }

    &__button {
      background-color: #ff6b00;
      color: #fff;
      font-weight: 500;
      padding: 0.75rem 2rem;
      border-radius: 9999px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ff8533;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .receive {
    background: var(--receive-bg);
    color: black;
    align-self: flex-start;

    &:before {
      left: -10px;
      width: 20px;
      background-color: var(--receive-bg);
      border-bottom-right-radius: 10px 10px;
    }

    &:after {
      left: -16px;
      width: 16px;
      background-color: var(--page-background);
      border-bottom-right-radius: 10px;
    }
  }

  .phone-input {
    background-color: #fff;
    border-radius: 9999px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    & input {
      font-family: 'Tilda Sans';
      font-size: 16px;
    }

    &__flag {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0 0.25rem 0 0.75rem;
    }

    &__flag-img {
      width: 1.25rem;
    }

    &__code {
      color: black;
    }

    &__field {
      flex: 1;
      border: none;
      outline: none;
      padding-right: 1rem;
      color: #4a5568;
    }
  }
}

.trust-block {
  padding: 60px 0;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 20px;
  }

  &__title {
    color: #000000;
    font-size: 40px;
    line-height: 1.25;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;

    @media (max-width: 1239px) {
      margin-bottom: 20px;
    }

    & span {
      color: #fe771d;
    }
  }

  &__description {
    font-weight: 500;
    max-width: 384px;

    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }

    & ul,
    ol {
      padding-left: 18px;
      margin: 0;
    }
  }

  &__wrapper {
    display: flex;
    gap: 120px;
    align-items: center;

    @media (max-width: 1239px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  .mw-content {
    max-width: 130px;
  }

  &__boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 40px;

    height: 668px;

    @media (max-width: 768px) {
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      height: unset;
    }

    &-item:first-child {
      border-radius: 25px 0 0 0;
      background-color: #0086ff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;

      color: white;

      @media (max-width: 768px) {
        font-size: 14px;
        width: 100%;
      }

      & p {
        font-size: 16px;
        margin: 10px 0;

        @media (max-width: 768px) {
          font-size: 14px;
          width: 100%;
        }

        & strong {
          font-size: 18px;

          @media (max-width: 768px) {
            font-size: 14px;
            width: 100%;
          }
        }
      }
    }

    &-item:nth-child(2) {
      position: relative;
      border-radius: 0 25px 0 0;

      @media (max-width: 768px) {
        font-size: 16px;
      }

      &::before {
        content: '10';
        position: absolute;
        line-height: 1;
        height: fit-content;
        top: -108px;
        left: -9px;
        color: #cee6fc;
        font-size: 250px;
        line-height: 1.55;
        font-weight: 700;
        border-color: transparent;
        border-style: solid;

        @media (max-width: 768px) {
          font-size: 150px;
          top: -58px;
        }
      }

      & p {
        color: #000000;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 14px;
          width: 100%;
        }

        & span {
          color: #eb7223;
          font-size: 18px;

          @media (max-width: 768px) {
            font-size: 14px;
            width: 100%;
          }
        }
      }

      .trust-block__boxes-item-content {
        position: absolute;
        bottom: 20px;
      }
    }

    &-item:nth-child(3) {
      border-radius: 0 0 0 25px;

      & p {
        color: #000000;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 14px;
          width: 100%;
        }

        position: relative;

        @media (max-width: 768px) {
          z-index: 2;
        }

        & span {
          color: #eb7223;
          font-size: 18px;
          max-width: 105px;

          @media (max-width: 768px) {
            font-size: 14px;
            width: 100%;
          }

          @media (max-width: 768px) {
            display: none;
          }
        }
      }

      & img {
        position: absolute;
        bottom: 20px;
        right: 20px;
        max-width: 197px;

        @media (max-width: 768px) {
          max-width: 110px;
          z-index: 0;
        }
      }
    }

    &-item:nth-child(4) {
      border-radius: 0 0 25px 0;

      & p {
        color: #000000;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 14px;
          width: 100%;
        }

        & span {
          color: #eb7223;
          font-size: 20px;
          max-width: 105px;

          @media (max-width: 768px) {
            font-size: 14px;
            width: 100%;
          }
        }

        &:nth-child(3) {
          font-weight: 600;
          font-size: 18px;
        }
      }

      & img {
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: translateX(-15%);
        max-width: 240px;
        margin: 0 auto;
        width: 100%;

        @media (max-width: 768px) {
          max-width: 120px;
        }
      }
    }

    &-item {
      max-width: 310px;
      max-height: 310px;
      padding: 20px;

      position: relative;

      background-color: #eaf5ff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;

      @media (max-width: 600px) {
        max-width: 185px;
      }

      @media (max-width: 380px) {
        max-width: 160px;
      }

      &-title {
        color: #ffffff;
        font-size: 50px;
        line-height: 1.3;
        font-weight: 700;
        background-position: center center;

        @media (max-width: 1239px) {
          font-size: 30px;
        }
      }

      & p {
        font-size: 16px;
        margin: 10px 0;

        @media (max-width: 768px) {
          &:nth-child(3) {
            display: none;
          }
        }

        & strong {
          font-size: 18px;
        }
      }

      &-bg {
        border-radius: 22px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        display: flex;
        justify-content: center;

        position: absolute;
        bottom: 20px;
        width: 100%;
        max-width: 254px;

        @media (max-width: 768px) {
          display: none;
        }

        & img {
          max-width: 141px;
        }
      }
    }
  }
}

.form-section {
  padding: 60px 0;

  @media (max-width: 768px) {
    padding: 20px;
  }

  .form-container {
    padding: 30px;

    border-radius: 25px;
    background-color: #eaf5ff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    h2 {
      display: flex;
      align-items: center;
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      color: #000000;
      font-size: 16px;
      line-height: 1.4;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      & span {
        color: #eb7223;
      }
    }

    .bonus-text {
      color: #ff6600;
      font-size: 14px;
      margin-bottom: 15px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 1041px;

      input {
        color: rgb(0, 0, 0);
        border: 0px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        font-size: 16px;
        font-weight: 400;
        height: 40px;
        outline: none;
        padding: 15px;
        font-family: 'Tilda Sans';
      }

      .phone-input {
        background-color: #fff;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        & input {
          font-family: 'Tilda Sans';
          font-size: 16px;
        }

        &__flag {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0 0.25rem 0 0.75rem;
        }

        &__flag-img {
          width: 1.25rem;
        }

        &__code {
          color: black;
        }

        &__field {
          flex: 1;
          border: none;
          outline: none;
          padding: 16px 0;
          color: #000;
        }
      }
    }

    .checkbox-container {
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: black;

      input[type='checkbox'] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid black;
        border-radius: 0;

        position: relative;
        background-color: transparent;
        cursor: pointer;
        opacity: 0.6;
        padding: 0;
        margin-right: 10px;

        &:checked {
          background-color: transparent;
          opacity: 1;

          &::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 1px;
            width: 6px;
            height: 10px;
            border: solid black;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }

    a {
      color: #ff8562;
      text-decoration: none;
    }
  }

  .reviews-section .phone-input {
    background-color: #fff;
    border-radius: 9999px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  form .phone-input {
    background-color: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
  }

  .btn-submit {
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    padding-inline: 20px;
    padding-block: 7.5px;

    &:hover {
      background-color: #0056b3;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(1) translate(-50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(1) translateY(0);
  }
}

.modal.show {
  display: flex;
  animation: fadeIn 0.3s ease-out;
}

.modal.hide {
  animation: fadeOut 0.3s ease-out;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999999;

  .close-modal-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

    padding: 10px;
    font-size: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .modal-content {
    background: #eaf5ff;
    padding: 40px 45px;
    text-align: center;
    max-width: 560px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: modalFadeIn 0.3s ease-out;

    @media (max-width: 768px) {
      width: 90%;
    }

    &__title {
      font-size: 36px;
      line-height: 1.23;
    }
  }

  .modal.hide .modal-content {
    animation: modalFadeOut 0.3s ease-out;
  }

  .btn {
    color: #ffffff;
    background-color: #378ffd;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;

    width: 100%;
    height: 54px;
    -webkit-appearance: none;

    font-size: 16px;
    font-weight: 700;

    text-align: center;
  }
  .input {
    font-family: 'Tilda Sans';
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-size: 16px;
    height: 60px;
    line-height: 1.33;
    margin: 0;
    outline: none;
    padding: 0 20px;
    width: 100%;

    color: #000000;
    background: #eaf5ff;
    border: 1px solid #c9c9c9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;

    margin-bottom: 25px;
  }

  .checkbox-container {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;

    margin-bottom: 10px;

    input[type='checkbox'] {
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid black;

      position: relative;
      background-color: transparent;
      cursor: pointer;
      opacity: 0.6;
      padding: 0;
      margin-right: 10px;

      &:checked {
        background-color: transparent;
        opacity: 1;

        &::after {
          content: '';
          position: absolute;
          left: 5px;
          top: 1px;
          width: 6px;
          height: 10px;
          border: solid black;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }

    a {
      color: #ff8562;
      text-decoration: none;
    }

    span {
      text-align: left;
    }
  }
}
