.header-solutions {
  background-image: url('/images/hero-bg-1.png');
  background-size: 100% 100%;
  background-position: 51.332% 100%;
  height: 795px;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1239px) {
    padding: 40px;
    height: 100% !important;
  }

  @media (max-width: 767px) {
    height: 100% !important;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    position: relative;

    .pic1 {
      position: absolute;
      max-width: 382px;
      z-index: 3;

      @media (max-width: 768px) {
        max-width: 120px;

        top: 8%;
        right: -10px;
      }

      top: 15%;
      right: 5%;
    }

    .pic2 {
      position: absolute;
      max-width: 301px;
      top: 30%;
      right: 11%;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 120px;

    @media (max-width: 768px) {
      margin-top: 0;
    }

    & span {
      color: #f96a0c;
    }
  }

  &__title {
    color: #000000;
    font-size: 56px;
    line-height: 1;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__description {
    color: #000000;
    font-size: 18px;
    line-height: 1.15;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    @media (max-width: 768px) {
      max-width: 200px;
    }

    max-width: 576px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item {
      display: flex;
      align-items: center;
      gap: 15px;

      &__picture {
        max-width: 20px;
        max-height: 20px;
      }

      &__text {
        &-title {
          color: #000000;
          font-size: 16px;
          line-height: 1;
          font-weight: 600;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
        }

        &-description {
          color: #000000;
          font-size: 15px;
          line-height: 1;
          font-weight: 300;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
        }
      }
    }
  }

  &__bottom {
    .btn-order {
      height: 45px;
      font-size: 14px;
      padding-left: 65px;
      padding-right: 65px;
      font-weight: 700;

      @media (max-width: 768px) {
        max-width: 100%;
        width: 100% !important;

        text-align: center;
      }
    }

    &-text {
      color: #6f6f6f;
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;

      @media (max-width: 768px) {
        max-width: 100%;
        width: 100% !important;

        text-align: center;
      }

      margin-top: 10px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }

    margin-top: 40px;

    &-item {
      display: flex;
      gap: 20px;

      align-items: center;

      max-width: 260px;
      max-height: 100px;

      @media (max-width: 768px) {
        max-width: 100% !important;
      }

      padding: 10px 10px 10px 20px;

      border-radius: 25px;
      background-color: #ffffff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      box-shadow: 0px 0px 15px 5px rgba(124, 174, 255, 0.2);

      .header-solutions_tabs-item-picture {
        width: 100%;
        max-width: 40px;
      }

      .header-solutions_tabs-item__body-title {
        color: #000000;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }

      .header-solutions_tabs-item__body-desc {
        color: #000000;
        font-size: 13px;
        line-height: 1;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }

      &__body {
        display: flex;
        flex-direction: column;

        align-items: center;
      }
    }
  }
}

.certificate-examples {
  &__title {
    line-height: 1.25;
    font-weight: 600;
    font-size: 26px;

    & span {
      color: #f96a0c;
    }

    & p {
      font-size: 18px;
      font-weight: 300;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 210px 210px 270px;
    gap: 20px;
    max-width: 1200px;
    margin-top: 90px;

    &-item {
      height: 100%;
      background-color: #eaf5fff2;
      border-radius: 15px;

      &:nth-child(1) {
        grid-column: span 2;
      }

      &:nth-child(3),
      &:nth-child(7) {
        grid-column: span 3;
      }

      &:nth-child(10) {
        grid-column: span 2;
      }

      &:nth-child(11) {
        grid-column: span 2;
      }

      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14) {
        grid-column: span 3;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
  }
}

.docs-list {
  padding: 120px 0 0;

  &__title {
    line-height: 1.25;
    font-weight: 600;
    font-size: 26px;

    & span {
      color: #f96a0c;
    }

    & p {
      font-size: 18px;
      font-weight: 300;
    }
  }

  &__grid {
    display: flex;
    gap: 40px;
    margin-top: 60px;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn-order {
        height: 45px;
        font-size: 14px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 700;
        margin-top: 10px;
      }

      &-content {
        max-width: 200px;
      }

      &-picture img {
        border-radius: 25px;
      }

      &-name {
        padding-top: 17px;
        font-size: 18px;
        line-height: 1.35;
        font-weight: 700;
      }

      &-price {
        font-size: 18px;
        line-height: 1.35;
        font-weight: 700;
        color: #f96a0c;
      }

      &-desc {
        font-size: 14px;
        line-height: 1.55;
        padding-top: 8px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.timeline {
  &-section {
    padding: 120px 0 60px;
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #1f2937;
  }

  &-wrapper {
    position: relative;
  }

  &-line {
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    width: 2px;
    height: 100%;
    background: #3b82f6;

    @media (min-width: 768px) {
      left: 10%;
      transform: translateX(-50%);
    }
  }

  &-item {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    opacity: 1;
    transform: translateY(2rem);
    align-items: flex-start;
    padding-top: 8px;

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-date {
    width: max-content;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 600;
    color: black;
    max-width: 20%;
    text-align: right;
  }

  &-dot {
    position: absolute;
    left: 2rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background: #3b82f6;
    border: 2px solid #3b82f6;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 10%;
  }

  &-content {
    width: 80%;
    padding: 0 7rem;
    margin-top: 5px;

    ul {
      margin: 0;
      margin-bottom: 30px;
      list-style: none;
      padding: unset;
    }

    li {
      color: #1f2937;
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.23;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #1f2937;
      margin-top: 0.5rem;
    }
  }
}

.empty {
  background: white;
  border: 2px solid #3b82f6;
}

.useful-functions-solutions {
  @media (max-width: 768px) {
    padding: 20px !important;
  }

  padding: unset;

  &__title {
    line-height: 1.25;
    font-weight: 600;
    font-size: 26px;

    & span {
      color: #f96a0c;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: end;

    @media (max-width: 1239px) {
      grid-template-columns: repeat(1, 1fr) !important;
    }

    padding-top: 90px;

    &-item {
      width: 560px;
      height: 260px;

      border-width: 1px;
      border-radius: 25px;
      background-color: #ffffff;
      background-position: center center;
      border-color: #bbd9ff;
      border-style: solid;
      box-shadow: 0px 0px 15px 5px rgba(179, 213, 255, 0.2);
      padding: 30px;

      @media (max-width: 767px) {
        width: 100% !important;
        max-width: 100%;
      }

      position: relative;

      img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 100%;
        max-width: 264px;
        z-index: 10;

        @media (max-width: 767px) {
          max-width: 120px !important;
        }
      }

      &-title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        max-width: 290px;
      }

      &-list {
        ul {
          padding-left: 20px;

          display: flex;
          flex-direction: column;
          gap: 5px;

          li {
            line-height: 1.15;
            font-weight: 300;
          }
        }
      }

      .release-btn {
        border-radius: 25px;
        background-color: #ffffff;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        color: #949494;
      }

      &-tabs {
        display: flex;
        gap: 30px;

        font-size: 12px;

        padding-top: 20px;

        &__item {
          background-position: center center;
          border-color: transparent;
          border-style: solid;
          padding: 0 10px;
          border-radius: 25px;
        }

        &__item:nth-child(1) {
          background-color: #f0f7ff;
        }

        &__item:nth-child(2) {
          background-color: #d5ffd3;
        }

        &__item:nth-child(3) {
          background-color: #ffd9a8;
        }
      }
    }

    &-item:first-child {
      position: relative;
      border: none;
      overflow: hidden;
      z-index: 2;
      height: 268px;

      color: white;

      .useful-functions-solutions__grid-item-title {
        margin-top: 10px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-image: url('/images/certificates/2.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 767px) {
          background-image: unset !important;
          background-color: #0086ff;
        }

        z-index: 0;
      }

      &::after {
        content: 'Скоро';
        position: absolute;
        top: 0px;
        left: 15px;

        color: #f2701c;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        @media (max-width: 767px) {
          left: 30px;
          top: 10px;
        }

        z-index: 1;
      }

      > * {
        position: relative;
        z-index: 10;
      }

      img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 100%;
        max-width: 264px;
        z-index: 10;

        @media (max-width: 767px) {
          right: 20px !important;
        }

        @media (max-width: 767px) {
          max-width: 87px !important;
        }
      }
    }

    &-item:nth-child(2) {
      grid-row: span 2;
      height: 100%;

      .useful-functions-solutions__grid-item-title {
        font-size: 26px;
      }

      .useful-functions__grid-item-list {
        max-width: 200px;
        font-weight: 300;

        & ul {
          gap: 0;
          margin: 8px 0;
        }
      }

      .useful-functions-solutions__grid-item-picture img {
        position: relative;
        transform: translateY(0);
        width: 100%;
        max-width: 100%;
        padding: 20px;

        @media (max-width: 767px) {
          display: none !important;
        }
      }

      span {
        color: #f2701c;
      }
    }

    &-item:nth-child(3) {
      @media (max-width: 767px) {
        height: 100% !important;
      }

      img {
        max-width: 187px;
        top: 0;
        transform: translate(-10px, 20px);

        @media (max-width: 767px) {
          max-width: 87px !important;
        }
      }

      ul {
        gap: 15px;
      }

      .useful-functions-solutions__grid-item-title {
        @media (max-width: 767px) {
          max-width: 80% !important;
        }
      }
    }
  }
}

.certificated-form-section {
  padding: 60px 0;

  .form-container {
    padding: 60px;

    border-radius: 25px;
    background-image: url('/images/certificates/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-color: transparent;
    border-style: solid;

    position: relative;

    h2 {
      display: flex;
      align-items: center;
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: 500;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    p {
      color: #000000;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      & span {
        color: #eb7223;
      }
    }

    .bonus-text {
      color: #ff6600;
      font-size: 14px;
      margin-bottom: 15px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 1041px;

      .form-wrapper {
        display: flex;
        gap: 30px;
      }

      input {
        color: rgb(0, 0, 0);
        border: 0px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        font-size: 16px;
        font-weight: 400;
        height: 40px;
        outline: none;
        padding: 15px;
        font-family: 'Tilda Sans';
      }

      .phone-input {
        background-color: #fff;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        & input {
          font-family: 'Tilda Sans';
          font-size: 16px;
        }

        &__flag {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0 0.25rem 0 0.75rem;
        }

        &__flag-img {
          width: 1.25rem;
        }

        &__code {
          color: black;
        }

        &__field {
          flex: 1;
          border: none;
          outline: none;
          padding: 16px 0;
          color: #000;
        }
      }
    }

    a {
      color: #ff8562;
      text-decoration: none;
    }
  }

  .reviews-section .phone-input {
    background-color: #fff;
    border-radius: 9999px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  form .phone-input {
    background-color: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
  }

  .btn-submit {
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    padding-inline: 20px;
    padding-block: 7.5px;
    width: 100%;
    max-width: 160px;
    text-align: center;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.get-section {
  padding: 120px 0 0 0;

  @media (max-width: 768px) {
    padding: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    border-radius: 25px;
    background-color: #eaf5ff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    padding: 80px 60px;

    @media (max-width: 768px) {
      padding: 20px;
    }
  }

  &__description {
    &-title {
      color: #000000;
      font-size: 24px;
      line-height: 1.1;
      font-weight: 600;
      background-position: center center;
      border-color: transparent;
      border-style: solid;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    &-image {
      margin-top: 100px;
      width: 100%;
      max-width: 200px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(319px, 1fr));
    column-gap: 40px;
    align-items: center;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(100%, 1fr));
      gap: 20px;
    }

    max-width: 700px;

    &-item {
      margin: 0 0 20px;

      ul {
        padding-left: 0;
        margin-top: 0;

        li {
          font-size: 20px;
          list-style: none;
        }
      }

      li {
        position: relative;
        padding-left: 20px;
      }

      li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-color: #eb7223;
        border-radius: 50%;
      }

      &-content {
        color: #000000;
        font-size: 14px;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }

      button {
        color: #ffffff;
        font-size: 16px;
        line-height: 1.55;
        font-weight: 600;
        border-radius: 25px;
        background-color: #368ffd;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        padding: 8px 30px;
        transition:
          background-color 0.2sease-in-out,
          color 0.2sease-in-out,
          border-color 0.2sease-in-out;

        @media (max-width: 768px) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.price-section {
  padding: 120px 0;

  @media (max-width: 768px) {
    padding: 60px 20px 20px;
  }

  background-image: url('/images/solutions/bg-price.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: relative;

  .chat-sticker {
    position: absolute;
    left: 50%;
    top: 10%;

    @media (max-width: 768px) {
      max-width: 325px !important;
      width: 100% !important;
      top: 0;
      left: 0;

      margin-bottom: 40px;

      position: unset !important;
    }

    @media (max-width: 375px) {
      max-width: 325px !important;
      width: 100% !important;
      top: 0;
      left: 0;

      position: unset !important;
    }

    rotate: -10deg;

    background-image: url('/images/solutions/chat.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    max-width: 281px;

    padding: 10px 25px;
    display: flex;
    align-items: center;

    &-text {
      color: #ffffff;
      font-size: 12px;
      line-height: 1.55;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
  }

  &__title {
    color: #000000;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    position: relative;

    z-index: 10;
  }

  &__desc {
    color: #000000;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    margin-top: 20px;

    margin-bottom: 20px;

    span {
      color: #eb7223;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }

    &-item {
      margin-top: 40px;

      max-width: 260px;
      height: 359px;
      border-radius: 25px;
      background-color: #ffffff;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      box-shadow: 0px 0px 15px 5px rgba(124, 174, 255, 0.2);

      @media (max-width: 768px) {
        max-width: 100%;
        margin-top: 0;
      }

      padding: 10px 20px;

      position: relative;

      &-title {
        color: #368ffd;
        font-size: 22px;
        line-height: 1.1;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }

      &-body {
        ul {
          padding-left: 0;
          list-style: none;

          li {
            color: #000000;
            font-size: 16px;
            line-height: 1.05;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
          }

          li::before {
            content: '+';
            padding-left: 2px;
          }
        }
      }

      &-line {
        border-top: 2px solid #eaf5ff;
        margin: 0;
        padding: 0;
      }

      &-price {
        position: absolute;
        bottom: 20px;

        color: #000000;
        font-size: 26px;
        line-height: 1.1;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        width: 100%;
        max-width: 210px;

        padding-top: 25px;

        .price-section__cards-item-line {
          position: absolute;
          top: 0;

          width: 100%;
          border-top: 2px solid #eaf5ff;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  &__rules {
    margin-top: 40px;

    display: flex;
    gap: 40px;
    align-items: flex-end;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &-text {
      max-width: 614px;

      color: #000000;
      font-size: 13px;
      line-height: 1.1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }

    &-btn {
      @media (max-width: 768px) {
        width: 100% !important;
        max-width: 100% !important;
      }
    }

    .order-btn {
      padding: 10px 20px;
      color: #ffffff;
      font-size: 16px;
      line-height: 1.55;
      font-weight: 600;
      border-radius: 25px;
      background-color: #368ffd;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      transition:
        background-color 0.2sease-in-out,
        color 0.2sease-in-out,
        border-color 0.2sease-in-out;

      @media (max-width: 768px) {
        width: 100% !important;
        max-width: 100% !important;
        text-align: center;
      }
    }
  }
}
