*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  width: fit-content;

  padding: 0;
  display: block;

  font: inherit;
  text-align: left;

  color: inherit;
  background-color: transparent;

  border: none;
  outline: none;

  cursor: pointer;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
  }
}
