@font-face {
  font-family: 'Tilda Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/TildaSans/TildaSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Tilda Sans';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/TildaSans/TildaSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Tilda Sans';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/TildaSans/TildaSans-Semibold.woff2') format('woff2');
}
